<!DOCTYPE html>
<html>
  <head>
    <title>SecondApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

	<body class="homepage is-preload">
		<div id="page-wrapper">

			<%= render 'shared/header' %> 
       
      <!-- Banner -->
      <%= render 'shared/banner' %>
       <%= yield %>
      <!-- Carousel -->
      <%= render 'shared/carousel' %>	
			<!-- Main -->
			<%= render 'shared/main' %>	
			<!-- Features -->
			<%= render 'shared/features' %>
			<!-- Footer -->
			<%= render 'shared/footer' %>
				</div>
		</div>
  
  </body>
</html>
